{#
/**
 * @file resource.html.twig
 * Default theme implementation to present Resource data.
 *
 * This template is used when viewing Resource pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_resource()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('resource') }}>
  {% set arg = content['name']['#object'].get('id').get(0).get('value').getValue() %}
  {% if content %}
    {{- content -}}
    {{ drupal_view('calendar', 'block_1', arg ) }}
  {% endif %}
</div>
